<div class="div-content ">

    <section class="text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">AiepBooks</h1>
                <p class="lead text-muted">La mejor tarea que va a recibir.</p>

                <form class="d-flex">
                    <input name="textSearch" [(ngModel)]="textSearch" class="form-control mr-sm-2 pr-1" type="search"
                        placeholder="Ingrece el titulo a buscar" aria-label="Search" required>
                    <button (click)="onClickSearch()" class="btn btn-outline-success my-2 my-sm-0"
                        type="button">Buscar</button>
                </form>

            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="alert alert-danger" role="alert" *ngIf="booklist.length == 0 && loading==false">
                No existen resultados para la busqueda
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="error">
                Debes ingresar un titulo a buscar
            </div>
            <div *ngIf="loading" class="d-flex justify-content-center pb-4">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div *ngFor="let book of booklist" class="col">
                    <div class="card shadow">
                        <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}" class="card-img-top  home-posters"
                            alt="...">

                        <div class="card-body ">
                            <p class="card-text">{{book.volumeInfo.title}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{book.accessInfo.webReaderLink}}" target="blank" type="button"
                                        class="btn btn-sm btn-outline-secondary">Leer</a>


                                </div>
                                <small class="text-muted">{{book.volumeInfo.publishedDate}}</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>