<div class="div-content ">

    <section class="text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">AiepFlix</h1>
                <p class="lead text-muted">La mejor plataforma para ver series y peliculas.</p>
                <nav class="navbar navbar-light bg-light">
                    <form class="d-flex">
                        <input name="textSearch" [(ngModel)]="textSearch" class="form-control mr-sm-2 pr-1"
                            type="search" placeholder="Ingrece el titulo a buscar" aria-label="Search">
                        <button (click)="onClickSearch()" class="btn btn-outline-success my-2 my-sm-0"
                            type="button">Buscar</button>
                    </form>
                </nav>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="alert alert-danger" role="alert" *ngIf="movieList.length == 0 && loading==false">
                No existen resultados para la busqueda
            </div>
            <div *ngIf="loading" class="d-flex justify-content-center pb-4">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div *ngFor="let movie of movieList" class="col">
                    <div class="card shadow">
                        <img src="{{movie.Poster}}" class="card-img-top  home-posters" alt="...">

                        <div class="card-body ">
                            <p class="card-text">{{movie.Title}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://www.imdb.com/title/{{movie.imdbID}}/" target="blank" type="button"
                                        class="btn btn-sm btn-outline-secondary">ImDb</a>


                                </div>
                                <small class="text-muted">{{movie.Type}} {{movie.Year}}</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>